.services {
  @extend .contacts;
  @include breakpoint(992px) {
    @include span(8);
  }
  text-align: left;
  width: span(12);
  @include breakpoint(780px) {
    position: relative;
    left: 6vw;
  }
  @include breakpoint($xs) {
    text-align: center;
    margin-top: 60px;
  }
}

@import '__title.scss';
@import 'servicesStock.scss';