@import '__refer.scss';

.navItem {
  width: 20%;
  @include breakpoint($xs) {
    width: 100%;
    text-align: center;
  }
  &.active .navItem__refer {
    background-color: $yellow !important;
    color: $red !important;
  }
} 