$i: !important;
/* Grid */
$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: split,
  global-box-sizing: border-box
);

@include border-box-sizing;

/* Fonts */
$stackInglobal: 'inglobal', serif;
/* Colors */
$blue: #5e64ff;
$yellow: #ffe276;
$nightBlack: #3f3c39;
$red: #bf4b49;
$shadow: rgba(0, 0, 0, .6);
$black:  #464646;
$darkGray: #3a3a3a;
$lightGreen: #efffec;
$darkGreen: #445f3e;
$white: #f4f4f4;
$gray: #7e7f7e;

/* breakpoints */
$lg: 1200px;
$md: 992px 1199px;
$sm: 768px 991px;
$xs-only: 480px 800px;
$xs: max-width 767px;
$xs-up: 767px;
$xxs: max-width 375px;
/* Mixins */
%round {
  border-radius: 50%;
}
%importantButton {
  color: $white $i;
  background-color: $red $i;
}
%defaultMarginTop {
  margin-top: 1em;
}
%increasedMarginTop {
  margin-top: 1.5em;
}
%bigMarginTop {
  margin-top: 2em;
}
%zeroPadding {
  padding: 0;
}
%fullWidth {
  width: 100%;
}
%fullHeight {
  height: 100%;
}
%zeroMargin {
  margin: 0;
}
%centerMargin {
  margin: 0 auto;
}
%fsBase {
  font-size: 1em;
}
%fs18 {
  font-size: (18em / 16); 
}
%fs21 {
  font-size: (21em / 16); 
}
%fs24 {
  font-size: (24em / 16); 
}
%bold {
  font-weight: bold;
}
%defaultTrasitionColor {
  transition: color 0.5s;
}
%leftSpan12 {
  @include span(12);
}
%floatRight {
  @include last;
}
%block {
  display: block;
}
@mixin round() {
  @extend %round;
}
@mixin xs-center-text() {
  @include breakpoint($xs) {
    text-align: center;
    display: block;
    width: span(12);
  } 
}
/* Body Custom */
html, body {
  min-height: 100%;
  @extend %fullWidth;
}
body {
  & * {
    // Styles for testing 
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    &:active {
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
     text-decoration: none;
    }
  }
  position: relative;
  font: {
    family: $stackInglobal;
    size: 16px;
  }
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feauture-settings: "kern", "ling", "clig", "calt";
  line-height: 145%;
  font-size-adjust: 100%;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  color: $black;
  background-color: $white;
}
// button, a {
//   cursor: pointer;
// }

h5 {
  @extend %fs18;
  @extend %bold;
  @extend %increasedMarginTop;
}
a {
  color: $darkGreen !important;
  text-decoration: none !important;
  &:hover {
    color: $gray !important;
  }
  &:visited {
    color: currentColor;
  }
  &:active {
    color: currentColor;
  }
  &:focus {
    color: currentColor;
  }
}
p {
  margin: 0.5em 0;
}

p, pre, .title, h5, #disqus_thread, .article__toArticles, .article__toArticle {
  max-width: 750px;
}

pre {
  color: #e4e4e4;
  background-color: $darkGray;
  padding: 2% 3%;
  @include breakpoint($xs) {
      padding: 5%;
  }
}
.placeholder {
  color: #aaa;
}
