.search__controller {
  color: $red;
  border-radius: 5px;
  border: 2px solid $red;
  background-color: $yellow;
  padding:  1% 0% 1% 5%;
  min-height: 41px;
  font-size: (20em / 16);
  width: span(12);
} 