.title {
	font: {
		family: $stackInglobal;
		size: (30em / 16);
		weight: bold;
	}
	color: darken($blue, 15%);
	@include breakpoint($xs) {
		text-align: center;
		font-size: (24em / 16);
		padding: 0 20px;
	}
}