.connectForm {
	color: $black;
}
.connectForm__controller, .controller__item {
	@extend %increasedMarginTop;
}
.connectForm__controller {
	&:first-child {
		@extend %bigMarginTop;
	}
}

.controller__item {
	width: span(8);
	max-width: 575px;
	background-color: transparent;
	@include breakpoint($xs) {
		margin: 20px auto 0;
	}
}
.controller__item-textarea {
	@extend %fullWidth;
	max-height: 116px;
	@include breakpoint($xs) {
		width: span(8);
	}
}

.controller__label, .controller__item, .controller__error {
	@extend %block;
}
.controller__error, .controller__label {
	@include breakpoint($xs) {
		text-align: center
	}
}

.controller__label {
	@extend %fs18;
	&:after {
		content: '*';
	}
}

.controller__error, .controller__label::after { 
	color: $red;
}

.controller__item {
	@extend %fs18;
	border-bottom: 1px solid lighten($gray, 25%);
	padding-left: 1%;
}

.connectForm__btn {
  	background-color: lighten($darkGreen, 20%);;
  	box-shadow: 0 0 10px $shadow;
  	@extend %bigMarginTop;
  	@extend %fs21;
  	@extend %bold;
  	@include breakpoint($xs) {
		margin: 40px auto 0;
		display: block;
		font-size: (22em / 16);
	}
}
