/* Grid */
$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: split,
  global-box-sizing: border-box
);

@include border-box-sizing;

/* Fonts */
$stackInglobal: 'inglobal', serif;
/* Colors */
$blue: #5e64ff;
$yellow: #ffe276;
$nightBlack: #3f3c39;
$red: #bf4b49;
$shadow: rgba(0, 0, 0, .6);
$black:  #464646;
/* breakpoints */
$lg: 1200px;
$md: 992px 1199px;
$sm: 768px 991px;
$xs-only: 480px 800px;
$xs: max-width 767px;
$xs-up: 767px;
$xxs: max-width 375px;
/* Mixins */
@mixin round() {
  border-radius: 50%;
}
@mixin xs-center-text() {
  @include breakpoint($xs) {
    text-align: center;
    display: block;
    width: span(12);
  } 
}
/* Body Custom */
html, body {
  min-height: 100%;
  width: 100%;
}
body {
  & * {
    // Styles for testing 
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none !important;
    &:active {
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
     text-decoration: none;
    }
  }
  position: relative;
  font: {
    family: $stackInglobal;
    size: 16px;
  }
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feauture-settings: "kern", "ling", "clig", "calt";
  line-height: 145%;
  font-size-adjust: 100%;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  color: $black;
}
button, a {
  cursor: pointer;
}

h5 {
  font: {
    family: $stackInglobal;
    size: (21em / 16);
    weight: bold;
  }
}
a {
  color: $blue !important;
  &:hover {
    color: #7e7f7e !important;
  }
  &:visited {
    color: currentColor;
  }
  &:active {
    color: currentColor;
  }
  &:focus {
    color: currentColor;
  }
}
p {
  margin: 0.5em 0;
}

.placeholder {
  color: #aaa;
}

// For flexbox.
.flexbox {
  
}
