// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));

  $formats: (otf: "opentype", ttf: "truetype");

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: fallback;
  }
}
$fontName: 'inglobal';
@include font-face($fontName, '../fonts/inglobal/inglobalb', bold, normal);
@include font-face($fontName, '../fonts/inglobal/inglobalbi', bold, italic);
@include font-face($fontName, '../fonts/inglobal/inglobali', normal, italic);
@include font-face($fontName, '../fonts/inglobal/inglobal', normal, normal);

@include font-face('FontAwesome', '../fonts/fontawesome-webfont', normal, normal);