.search
	form#searchForm(method='get', action='/results/')
		input.search__controller(
    		placeholder='Поиск',
     		type='search', 
     		name='search'
	  	)   
		i.fa.fa-search.search__icon(aria-hidden='true') 