| {% extends 'base.html' %}
| {% load static %}
| {% load blog_filters %}

| {% block title %}
title {{ title }}
| {% endblock %} 

| {% block nav %}
nav.navigaton
	button#openMenuButton.navigation__openMenuButton.visible-xs
		span.sr-only Toggle navigation
		i.fa.fa-bars.fa-2x
	ul.navList#navList
		| {% if title == 'Филипп Журавлёв' or props.article_id or props.search %}
		li.navItem.active
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% endif %}
		| {% if title == 'Связь' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'connect' %}") Контакты
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'connect' %}") Контакты
		| {% endif %}
		li.navItem
			a.navItem__refer.not-follow(href='https://shining-present.ru') Портфолио
		| {% if title == 'Обо мне' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'about' %}") Обо мне
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'about' %}") Обо мне	
		| {% endif %}  
		//- | {% if title == 'Архив' %}
		//- li.navItem.active
		//- 	a.navItem__refer(href='#') Архив
		//- | {% else %}  
		//- li.navItem
		//- 	a.navItem__refer(href='#') Архив
		//- | {% endif %}  
| {% endblock %}
| {% block content %}


main#main(style='display: none')
	.ui.big.text.inline.loader Загрузка&elliph;
   
script.
	window.props = {{props|json}};
	window.react_mount = document.getElementById('main');

script(async, src="/static/zhuravlev/components/{{component}}")
| {% endblock %}
