| {% extends 'base.html' %}
| {% load static disqus_tags blog_filters %}

| {% block meta %}
meta(name='description', content='{{ meta }}') 
| {% endblock %} 
| {% block title %}
title {{ title }}
| {% endblock %} 
| {% block nav %}
nav.navigaton
	button#openMenuButton.navigation__openMenuButton.visible-xs
		span.sr-only Toggle navigation
		i.fa.fa-bars.fa-2x
	ul.navList#navList
		| {% if title == 'Филипп Журавлёв' or props.article_id or props.search %}
		li.navItem.active
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% endif %}
		| {% if title == 'Связь' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'connect' %}") Контакты
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'connect' %}") Контакты
		| {% endif %}
		li.navItem
			a.navItem__refer.not-follow(href='https://shining-present.ru') Портфолио
		| {% if title == 'Обо мне' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'about' %}") Обо мне
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'about' %}") Обо мне	
		| {% endif %}  
		| {% if title == 'Архив' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'archive' %}") Архив
		| {% else %}  
		li.navItem
			a.navItem__refer(href="{% url 'archive' %}") Архив
		| {% endif %}  
| {% endblock %}
| {% block content %}


main#main
	.ui.big.text.inline.loader Загрузка&elliph;
| {% if isArticle %}
.container(style='padding-bottom: 10%;') 
	| {% load disqus_tags %}
	| {% disqus_dev %}
	| {% disqus_show_comments "filipp-zhuravlev" %}
| {% endif %}

script.
	window.props = {{props|json}};
	window.react_mount = document.getElementById('main');
//- #disqus_thread
//- script.

//-   /**
//-   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
//-   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  
//-   var disqus_config = function () {
//-     this.page.url = '/articles/';  // Replace PAGE_URL with your page's canonical URL variable
//-     this.page.identifier = windows.props.article_id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
//-   };
  
//-   (function() { // DON'T EDIT BELOW THIS LINE
//-     var d = document, s = d.createElement('script');
//-     s.src = 'https://filipp-zhuravlev.disqus.com/embed.js';
//-     s.setAttribute('data-timestamp', +new Date());
//-     (d.head || d.body).appendChild(s);
//-   })();

//- noscript Please enable JavaScript to view the 
//-   a(href="https://disqus.com/?ref_noscript") comments powered by Disqus


script(async, src="/static/zhuravlev/components/{{component}}")
| {% endblock %}
