@font-face {
  font-family: 'inglobal';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/inglobal/inglobalb.eot');
  src: local('inglobal'), url('../fonts/inglobal/inglobalb.woff') format('woff'), url('../fonts/inglobal/inglobalb.ttf') format('truetype'), url('../fonts/inglobal/inglobalb.svg') format('svg');
}
@font-face {
  font-family: 'inglobal';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/inglobal/inglobalbi.eot');
  src: local('ibglobal'), url('../fonts/inglobal/inglobalbi.woff') format('woff'), url('../fonts/inglobal/inglobalbi.ttf') format('truetype'), url('../fonts/inglobal/inglobalbi.svg') format('svg');
}
@font-face {
  font-family: 'inglobal';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/inglobal/inglobali.eot');
  src: local('ibglobal'), url('../fonts/inglobal/inglobali.woff') format('woff'), url('../fonts/inglobal/inglobali.ttf') format('truetype'), url('../fonts/inglobal/inglobali.svg') format('svg');
}
@font-face {
  font-family: 'inglobal';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/inglobal/inglobal.eot');
  src: local('inglobal'), url('../fonts/inglobal/inglobal.woff') format('woff'), url('../fonts/inglobal/inglobal.ttf') format('truetype'), url('../fonts/inglobal/inglobal.svg') format('svg');
}
@font-face {
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');
}

