| {% extends 'base.html' %}
| {% load blog_filters %}

| {% block title %}
title {{ title }}
| {% endblock %} 

| {% block nav %}
nav.navigaton
  button#openMenuButton.navigation__openMenuButton.visible-xs
    span.sr-only Toggle navigation
    i.fa.fa-bars.fa-2x
  ul.navList#navList
    li.navItem
      a.navItem__refer(href="{% url 'index' %}") Блог
    li.navItem
      a.navItem__refer(href="{% url 'connect' %}") Контакты
    li.navItem
      a.navItem__refer.not-follow(href='http://shining-present.tw1.ru') Портфолио
    li.navItem
      a.navItem__refer(href="{% url 'about' %}") Обо мне   
| {% endblock %}
| {% block content %}


main#main(style='display: none')
  i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw.center-block
    span.sr-only Загрузка
  
script.
  window.props = {{props|json}};
  window.react_mount = document.getElementById('main');

script(src='/media/public/components/NotFound.js')
| {% endblock %}
